main{ /* Milieu de la page */ 
    border-radius: 10px;  
    background-color: #3d3a3a00;        
}

.Titre{
    font-size: 40px;
    color: #ffffff;
    text-decoration: underline #7dd11c;
    text-shadow: 3px 3px #797e81;
}

.sous-titre{
    color: #ffffff;
    font-style: italic;
    padding-top: 15px;    
    font-size: 1.5vh;
}

.liste{
    color: #ffffff;
    list-style: none;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.a-survol{
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color 2s;
    transition: color 1s;
} 

/* changement de couleur au survol*/
.a-survol:hover{
    color: #7dd11c;
}

/* bouton télecharger le CV*/
button{ 
    border-radius: 10px;
    color: white;
    background-image: url(image/MurNoir.jpg);
    margin-left: 15px;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;  
    transition-duration: 1s;
}

/* changement de couleur au survol*/
button:hover{
    border: 2px solid #7dd11c;
    transform: scale(1.1);
}