main{ /* Milieu de la page */ 
    background-color: #3d3a3a00;   
    border-radius: 10px;      
}

.titrePP{
    font-size: 40px;
    color: #ffffff;
    text-decoration: underline #7dd11c;
    text-shadow: 3px 3px #797e81;
    position: relative;
}

.sous-titrePP{
    color: #ffffff;   
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline #7dd11c;
    text-shadow: 1px 1px #797e81;
}

.Description{
    width: 70vw;
    margin-top: 60px
}

.Texte{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Comfortaa';
    white-space: pre-wrap;
}

.sous-titre2{
    color: #ffffff;   
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline #7dd11c;
    text-shadow: 1px 1px #797e81;
}

.url{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Comfortaa';

}

#url{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Comfortaa';
    text-decoration: none;
    color: #7dd11c;
}

@media screen and (max-width: 1200px) {
    .rojetp{
        width: 80vw;

    }
}

@media screen and (max-width: 991px) {
    .projet{
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .Description{
        flex-direction: column;
        width: 90vw;   
    }
}