main{ /* Milieu de la page */ 
    border-radius: 10px;  
    background-color: #3d3a3a00;        
}

.Titre{
    font-size: 40px;
    color: #ffffff;
    text-decoration: underline #7dd11c;
    text-shadow: 3px 3px #797e81;
}

.sous-titre{
    color: #ffffff;
    font-style: italic;
    padding-top: 5px;    
    font-size: 1.5vh;
}

.liste{
    color: #ffffff;
    list-style: none;
    font-size: 2.20vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.a-survol{
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color 2s;
    transition: color 0.5s;
} 

/* changement de couleur au survol*/
.a-survol:hover{
    color: #7dd11c;
}

.me-contacter{
    font-size: 30px;
    color: #ffffff;
    text-decoration: underline #7dd11c;
    text-shadow: 3px 3px #797e81;
}

/* style formulaire de contact*/
.contact-form{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 20px;
}

.contact{
    align-items: left;
    Text-align: left;
    padding-left: 10px;
    margin: 10px;
    width: 550px;
    height: 40px;
    border-radius:10px;
    -webkit-transition: color 2s;
    transition: border-color 1s;
    border: 1.5px solid #83c934;
    background-color: rgba(131, 131, 131, 0.582);
    color : #ffffff;
}

.contact:hover{
    border: 3px solid #7dd11c;
}

::placeholder{
    color : #ffffff;
}

textarea[name=message] {
 resize : none;
}

#text-area {
    height: 75px; 
}

#bouton {
    color : #ffffff;
    text-align: center;
    font-size: 2vh;
    -webkit-transition: color 2s;
    transition: border-color 2s;
}

#bouton:hover {
    color: #ffffff;
    background: #00000057;
}

.msg-erreur {
    color: #ff0000;
}

@media screen and (max-width: 1200px) {
    .contact{
        width: 80vw;
    }

    .contact-form{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    .contact{
        width: 80vw;
    }

    .contact-form{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .contact{
        width: 90vw;
    }

    .contact-form{
        margin-bottom: 20px;
    }
}
